#Ignore compiled stuff
bin/

#no docs?
doc/

#Ignore giant-sized videos
resources/Entries Videos

#Do not upload scoreboards
scoreboards/

#no banners either
banners/

#Ignore Eclipse-related and other stuff
.*
!.gitignore

#thumbs
*/Thumbs.db