#Ignore compiled stuff
bin/

#no docs?
doc/

#Ignore giant-sized videos
resources/Nation Info/Entries Videos/

#Do not upload scoreboards
scoreboards/

#no banners either
banners/

#no spreadsheets
spreadsheet/

#Ignore Eclipse-related and other stuff
.*
!.gitignore

#no .xscos
*.xsco

#thumbs
*/Thumbs.db