.root {
	-fx-background-image: url("/resources/rootBackground.png");
	-fx-font-family: "Segue UI";
}

#addEntryButton,
#removeEntryButton,
#setVotesButton {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(77.0,51.0,153.0) 0.0, rgb(51.0,26.0,128.0) 100.0 );
	-fx-text-fill: rgb(255.0,255.0,255.0);

	-fx-font-size: 14.0pt;
	-fx-border-color: rgb(255.0,255.0,255.0);
	-fx-border-width: 1.0, 1.0, 1.0, 1.0;
}

#entryDirButton,
#flagDirButton,
#prettyFlagDirButton {
	-fx-text-fill: rgb(255.0,255.0,255.0);
	-fx-border-color: rgb(255.0,255.0,255.0);
	-fx-border-width: 1.0, 1.0, 1.0, 3.0;
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(13,5,80) 0.0, rgb(27,5,123) 100.0);
}

#table {
	-fx-border-color: rgb(192.0,192.0,192.0);
	-fx-text-fill: rgb(213.0,213.0,213.0);
	-fx-cursor: hand;
}

#startButton {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(26.0,77.0,77.0) 0.0, rgb(0.0,51.0,51.0) 100.0 );
	-fx-text-fill: rgb(219.0,219.0,219.0);
	-fx-text-alignment: center;
	-fx-font-size: 20.0pt;
	-fx-border-color: rgb(255.0,255.0,255.0);
	-fx-border-width: 1.3, 1.3, 1.3, 1.3;

}

#startButton:hover {
	-fx-font-size: 23.0pt;
}

#ediNrLabel {
	
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(179.0,179.0,179.0) 0.0, rgb(230.0,230.0,230.0) 100.0);
	-fx-text-fill: rgb(55.0,55.0,55.0);
	-fx-border-color: rgb(51.0,51.0,51.0);
	-fx-border-image-width: 1.0,1.0,1.0,1.0;
}

#ediNameLabel {
	
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(26.0,26.0,26.0) 0.0, rgb(77.0,77.0,77.0) 100.0);
	-fx-text-fill: rgb(215.0,215.0,215.0);
	-fx-border-color: rgb(255.0,255.0,255.0);
	-fx-border-image-width: 1.0,1.0,1.0,0.5;
}

#ediNrTF {
	
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(179.0,179.0,179.0) 0.0, rgb(230.0,230.0,230.0) 100.0);
	-fx-text-fill: rgb(55.0,55.0,55.0);
	-fx-border-color: rgb(51.0,51.0,51.0);
	-fx-border-image-width: 1.0,1.0,1.0,1.0;
}

#ediNameTF {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(26.0,26.0,26.0) 0.0, rgb(77.0,77.0,77.0) 100.0);
	-fx-text-fill: rgb(215.0,215.0,215.0);
	-fx-border-color: rgb(255.0,255.0,255.0);
	-fx-border-image-width: 1.0,1.0,1.0,0.5;
}

#createBannersBox,
#prettyFlagsBox,
#fullScreenBox,
#traditionalVotingCheckBox {

    -fx-font-size: 12.0pt;
    -fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, repeat, rgb(26.0,51.0,153.0) 0.0, rgb(0.0,51.0,51.0) 90.0, rgb(26.0,0.0,104.0) 100.0 );
    -fx-border-color: rgb(235.0,235.0,235.0);
    -fx-border-width: 1.0,1.0,1.0,1.0;
    -fx-text-fill: rgb(255.0,255.0,255.0);
}

#createBannersBox:selected,
#prettyFlagsBox:selected,
#fullScreenBox:selected,
#traditionalVotingCheckBox:selected {

    -fx-font-size: 12.0pt;
    -fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(11,139,55) 0.0, rgb(6,161,41) 100.0);
    -fx-border-width: 1.0,1.0,1.0,1.0;
    -fx-text-fill: rgb(255.0,255.0,255.0);
}

.evenColumn {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(26.0,26.0,26.0) 0.0, rgb(51.0,51.0,51.0) 100.0);
	-fx-text-fill: rgb(238.0,238.0,238.0);	
	-fx-alignment: center;
	-fx-border-color: rgb(50.0,50.0,50.0);
	-fx-border-width: 1.0 0.0 1.0 0.0;
}

.oddColumn {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(51.0,51.0,51.0) 0.0, rgb(77.0,77.0,77.0) 100.0);
	-fx-text-fill: rgb(238.0,238.0,238.0);
	-fx-alignment: center;
	-fx-border-color: rgb(50.0,50.0,50.0);
	-fx-border-width: 1.0 0.0 1.0 0.0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header {
	-fx-border-color: rgb(37,37,37);
    -fx-border-width: 1.0,1.0,1.0,1.0;
}

.selectedRow .table-cell {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(102.0,102.0,102.0) 0.0, rgb(153.0,153.0,153.0) 100.0)
}

.table-view:focused .table-row-cell:selected .table-cell {
     -fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(179.0,77.0,26.0) 0.0, rgb(204.0,128.0,51.0) 100.0);
}

.table-row-cell:selected:focused .table-cell {
     -fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(179.0,26.0,26.0) 0.0, rgb(204.0,51.0,51.0) 100.0);
}

.table-row-cell:selected .table-cell {
     -fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(102.0,26.0,51.0) 0.0, rgb(128.0,51.0,77.0) 100.0);
}

.menu-bar {
	-fx-background-color: rgb(44.0,44.0,44.0);
	-fx-border-color: white;
	-fx-border-width: 0 0 1 0;
}

.menu-bar .label {
	-fx-text-fill: white;
}

.menu-item {
    -fx-background-color: rgb(55.0,55.0,55.0);
}

.menu-item:focused {
     -fx-background-color: rgb(67.0,67.0,67.0);
}

.menu-item:focused .label {
    -fx-text-fill: rgb(234.0,234.0,234.0);
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: rgb(30.0,30.0,30.0);
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em;
}

#sliderPaneArea {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(51.0,51.0,51.0) 0.0, rgb(0.0,0.0,0.0) 100.0);
	-fx-text-fill: rgb(255.0,255.0,255.0);
	-fx-border-color: rgb(255.0,255.0,255.0);
	-fx-border-width: 1.0,1.0,1.0,1.0;
}