@CHARSET "ISO-8859-1";

.root {
	-fx-background-image: url("/resources/rootBackground.png");
}

.label {
	-fx-background-color: rgb(65,65,65);
	-fx-text-fill: white;
	-fx-font-size: 12pt;
	-fx-border-color: white;
	-fx-border-width: 1 1 1 1;
}

#newEntryLabel {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(26,26,26) 0.0, rgb(51,51,51) 100.0);
	-fx-text-fill: white;
	-fx-font-size: 16pt;
	-fx-border-color: white;
	-fx-border-width: 1 1 1 1;
}

.text-field {
	-fx-background-color: rgb(65,65,65);
	-fx-text-fill: white;
	-fx-font-size: 11pt;
	-fx-border-color: white;
	-fx-border-width: 1 1 1 1;
}

.text-field-valid {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(34,137,93) 0.0, rgb(36,162,109) 100.0);
}

.text-field-invalid {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(153,0,0) 0.0, rgb(179,26,26) 100.0);
	-fx-font-style: oblique ;
}

.text-field:hover {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(204,204,204) 0.0, rgb(230,230,230) 100.0);
	-fx-text-fill: rgb(23,23,23);
	-fx-font-size: 11pt;
	-fx-border-color: rgb(186,186,186);
	-fx-border-width: 1 1 1 1;
}

.text-field:focus {
	-fx-background-color: rgb(229,229,229);
	-fx-text-fill: rgb(23,23,23);
	-fx-font-size: 11pt;
	-fx-border-color: rgb(18,18,18);
	-fx-border-width: 1 1 1 1;
}

.button {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(26,26,26) 0.0, rgb(77,77,77) 100.0);
	-fx-text-fill: rgb(254, 254, 254);
	-fx-font-size: 16pt;
	-fx-border-color: white;
	-fx-border-width: 1 1 1 1;
}

.buttonHover {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(26,0,104) 0.0, rgb(51,26,128) 100.0);
	-fx-text-fill: rgb(254, 254, 254);
	-fx-font-size: 16pt;
	-fx-border-color: white;
	-fx-border-width: 1 1 1 1;
}

.button-valid {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(26,77,26) 0.0, rgb(77,128,77) 100.0);
}

.button-invalid {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(179,26,26) 0.0, rgb(153,0,0) 100.0 );
}

.buttonConfirmed {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(77,128,77) 0.0, rgb(128,179,128) 100.0);
}