@CHARSET "ISO-8859-1";

.root {
	-fx-background-image: url("../../resources/Graphics/EditorBackgrounds/rootBackground.png");
}

.label {
	-fx-font-family: "Inconsolata";
	-fx-font-size: 16pt;
	-fx-text-fill: white;
}

.combo-box-base {
	-fx-background-color: rgb(43,43,43);
	-fx-border-color: rgb(188,188,188);
}

.combo-box-base:focused {
	-fx-background-color: rgb(62,62,62);
}

.combo-box .list-cell {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(51,51,51) 0.0, rgb(77,77,77) 100.0);
	-fx-text-fill: white;
}

.combo-box .list-cell:hover {
	-fx-background-color: rgb(10,72,109);
}

.combo-box-base:hover {
	-fx-background-color: rgb(231,231,231);
}

.button {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(26,26,26) 0.0, rgb(77,77,77) 100.0);
	-fx-text-fill: rgb(254, 254, 254);
	-fx-font-size: 16pt;
	-fx-border-color: white;
	-fx-border-width: 1 1 1 1;
}

.button:hover {
	-fx-background-color: rgb(231,231,231);
	-fx-text-fill: rgb(35,35,35);
	-fx-border-color: rgb(23,23,23);
}